# --- Python specific ---
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# --- Logs (Crucial for your script) ---
*.log
/var/log/vcenter_*.log

# --- Security ---
.env
.envrc

# --- IDEs ---
.vscode/
.idea/
.DS_Store